* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .justify {
        justify-content: center;
    }

    .align {
        align-items: center;
    }

    .space-around {
        justify-content: space-around;
    }

    .space-between {
        justify-content: space-between;
    }

    .page-numbers {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        background-color: gray;
    }

    .page-numbers:hover {
        background-color: gray;
        color: white;
    }

    .prev:hover {
        color: white;
        background-color: gray;
    }

    .next:hover {
        color: white;
        background-color: gray;
    }

    .current {
        background-color: gray;
        color: white;
    }

    .prev {
        display: block !important;
        color: white;
        background-color: #c5c5c5;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .next {
        display: block !important;
        color: white;
        background-color: gray;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .myul {
        list-style-type: circle;
        margin: 0;
        width: 70%;
        text-align: left;
    }

    .myul a {
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-top: -1px;
        margin: 10px;
        background-color: #f6f6f6;
        padding: 30px 30px 10px 40px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        cursor: pointer;
    }

    .w-full {
        width: 100%;
    }

    .w-screen {
        width: 100vw;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .content {
        width: 100%;
        padding: 40px 40px 20px 40px;

    }