
/* Home Style !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
a{
    text-decoration: none;
    color : black;
}
.postContainer {
  display: flex;
  flex-direction: column;
  gap:16px;
  width:40%;
}
  @media screen and (max-width: 1024px) {
.postContainer {
    width:60%;
     display: flex;
  flex-direction: column;
  gap:16px;
  width:40%;
}
  }

   @media screen and (max-width: 768px) {
.postContainer {
    width:60%;
     display: flex;
  flex-direction: column;
  gap:16px;
  width:80%;
}
  }
.postCard {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    border: none; 
    align-items: center;
    gap:8px;
}


.postContent:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}


/* Content inside each post card */
.postContent {
  border-radius: 10px;
  background-color: #88888832;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
}

@keyframes gradientItem {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




/* ---------add--------- */
.viewMoreBtn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 25px;
    background: linear-gradient(270deg, #f2f2f2, #fff, #f2f2f2);
    background-size: 400% 400%;
    animation: gradientBtn 8s ease infinite;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.2s;
}

.viewMoreBtn:hover {
    background: linear-gradient(90deg, #808080, #ffffff);
    transform: translateY(-2px);
}

.viewMoreBtn:active {
    background: linear-gradient(90deg, #ffffff, #808080);
    transform: translateY(1px);
}

@keyframes gradientBtn {
    100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    0% { background-position: 0% 50%; }
}
